{% extends "layouts/admin_layout.html" %}
{% block actual_title %}
    Formats
{% endblock %}

{% block main_tag %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message in messages %}
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="row g-1">
                        <div class="col-md p-md-3">

                            <div class="input-group has-validation">
                                <div class="input-group-text"> {{ form.label.label(class="col-sm-2 form-control-label") }}</div>

                                    {% if form.label.error %}
                                        {{ form.label(class="form-control form-control-md is-invalid") }}
                                        {% for error in form.label.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.label(class="form-control form-control-md") }}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-md p-md-3">
                            {{ form.submit(class="btn btn-primary btn-sm", style="border-radius: 15px;") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script !src="">
        $(document).ready(function(){
            $('.toast').toast("show");
        })
    </script>

{% endblock %}
