{% extends "layouts/admin_layout.html" %}
{% block main_tag %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category , message in messages %}
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                          <div class="d-flex">
                            <div class="toast-body">
                            {{ message }}
                           </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <form method="post">
                {{form.hidden_tag()}}
                <div class="row">
                    <div class="mb-4">
                        <div class="col-md-6">
                            {{ form.label.label(class="form-control-label") }}
                            <div class="input-group has-validation">

                                {% if form.label.errors %}
                                    {{ form.label(class="form-control form-control-md is-invalid") }}
                                    {% for error in form.label.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.label(class="form-control form-control-md") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: right;">
                    <div class="col-md-6">
                        <div class="mb-4">
                            {{ form.submit(class="btn btn-md btn-primary") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}
    <script !src="">
        $(document).ready(function (){
            $('.toast').toast('show');
        });
    </script>
{% endblock %}