{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
    <link rel="stylesheet" href='{{url_for("static", filename="css/colors.css")}}'>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/theme/mermaid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap-5.min.css')}}">
{% endblock %}


{% block main_tag %}
    <div class="row g-3 mb-4 mt-4">
        <div class="col-md">
            <div class="card"  style="border-left: 0.25em solid #34568B;">
                <div class="card-body">
                    <div class="row p-1 align-items-center justify-content-between">
                        <div class="col-md">
                            <div class="text-small text-color text-upper-case fw-bold mb-2">
                                total

                            </div>
                            <div class="h5 text-color-classic-blue fw-bold">
                                [Valeur]
                            </div>
                        </div>
                        <div class="col-auto mr-4">
                            <span class="h1 text-color-grey">
                                <i class="fa-solid fa-people-group"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border-left-produit">
                <div class="card-body">
                    <div class="row p-1 align-items-center justify-content-between">
                        <div class="col-md">
                            <div class="text-small text-color text-upper-case fw-bold mb-2">
                                réglées
                            </div>
                            <div class="h5 text-color-arcadia fw-bold">
                                [Valeur]
                            </div>
                        </div>
                        <div class="col-auto mr-4">
                            <span class="h1 text-color-grey">
                                <i class="fa-solid fa-people-group"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card border-left-supplier">
                <div class="card-body">
                    <div class="row p-1 align-items-center justify-content-between">
                        <div class="col-md">
                            <div class="text-small text-color text-upper-case fw-bold mb-2">
                                à régler
                            </div>
                            <div class="h5 text-color-valiant fw-bold">
                                [Valeur]
                            </div>
                        </div>
                        <div class="col-auto mr-4">
                            <span class="h2 text-color-grey">
                                <i class="fa-solid fa-boxes-stacked"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="toast-container position-absolute top-0 end-0 p-3">
                    {% for category, message in messages %}
                        <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body text-black fw-light fs-6">
                                    {{ message }}
                                </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="col" style="position: relative; text-align: right">
            <button role="button" class="btn btn-outline-success rounded rounded-pill" data-bs-toggle="modal" data-bs-target="#NouvelleDepense">
                <i class="fa fa-circle-plus"></i>
                   Ajouter
            </button>
            <div id="table"></div>
            <div class="modal bg-m" id="NouvelleDepense" data-bs-backdrop="static" data-bs-keyboard="false"
                                        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nouvelle dépense</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form id="form" method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="info-row row g-1 justify-content-center">
                                    </div>
                                    <div class="row g-1 mb-3">
                                        <div class="col-md">
                                            <div class="input-group has-validation p-3">
                                                <div class="input-group-text"> {{ form.label.label }}</div>
                                                {% if form.label.errors %}
                                                    {{ form.label(class="form-control is-invalid") }}
                                                    {% for error in form.label.errors %}
                                                        <div class="invalid-feedback">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.label(class="form-control") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="input-group has-validation p-3">
                                                <div class="input-group-text"> {{ form.description.label }}</div>
                                                {% if form.description.errors %}
                                                    {{ form.description(class="form-control is-invalid") }}
                                                    {% for error in form.description.errors %}
                                                        <div class="invalid-feedback">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.description(class="form-control") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-1 mb-3">
                                        <div class="col-md">
                                            <div class="input-group has-validation p-3">
                                                <div class="input-group-text"> {{ form.expense_category.label }}</div>
                                                {% if form.expense_category.errors %}
                                                    {{ form.expense_category(class="form-select is-invalid") }}
                                                    {% for error in form.expense_category.errors %}
                                                        <div class="invalid-feedback">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.expense_category(class="form-select") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3 g-1">
                                        <div class="col-md">
                                            <div class="input-group has-validation p-3">
                                                <div class="input-group-text"> {{ form.amount.label }}</div>
                                                {% if form.amount.errors %}
                                                    {{ form.amount(class="form-control is-invalid") }}
                                                    {% for error in form.amount.errors %}
                                                        <div class="invalid-feedback">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.amount(class="form-control") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-1 mb-4 justify-content-lg-end">
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-md btn-outline-primary rounded rounded-pill") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block actual_title %}
    Les dépenses
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function (){
            $('.toast').toast('show');
            $("#expense_category").select2({
                theme:'bootstrap-5',
                dropdownParent: $('.modal'),
                placeholder: $(this).data('placeholder'),
                width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            });
            {% if form.errors %}
                $('.modal').modal('show');
            {% endif %}
        });
        new gridjs.Grid({
            autoWidth:true,
            fixedHeader:true,
            style:{
                table:{
                    'width':"100%"
                }
            },
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                { id: 'indexe', name: '' },
                { id: 'label', name: 'Titre' },
                { id: 'category', name: 'Catégorie de dépense' },
                { id: 'date', name: 'Date' },
                { id: 'amount', name: 'Montant' },
            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve([
                {% if liste %}
                    {% for exp in liste %}
                        {
                              indexe: '{{ exp["indexe"] }}',
                              label :'{{ exp["label"] }}',
                              category :'{{ exp['category'] }}',
                              date :'{{ exp['date'] }}',
                              amount: '{{ exp['amount'] }} DZD'
                        },
                    {% endfor %}
                {% endif %}
            ]),1000
                    )
                })
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}