{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
    <link href="{{ url_for('static', filename='dist/theme/mermaid.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block main_tag %}
    <div class="container">
        <div class="row mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="toast-container position-absolute top-0 end-0 p-3">
                        {% for category, message in messages %}
                            <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body text-black fw-light fs-6">
                                        {{ message }}
                                    </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="col" style="position: relative; text-align: right">
                <a role="button" class="btn btn-outline-success rounded rounded-pill" href="#">
                    <i class="fa fa-circle-plus"></i>
                       Ajouter
                </a>
            <div id="table"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block actual_title %}
    Les factures
{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script>
        $(document).ready(function (){
            $('.toast').toast('show');
        });
        new gridjs.Grid({
            autoWidth:true,
            fixedHeader:true,
            style:{
                table:{
                    'width':"100%"
                }
            },
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
            { id: 'index', name: 'Indice' },
            { id: 'intern_reference', name: 'Référence' },
            { id: 'client', name: 'Client' },
            { id: 'created_at', name: 'Date' },
            { id: 'status', name: 'Etat' },
            { id: 'total', name: 'Montant' },
            {id:"actions",name:'Actions'}
            ],
            data: () => {
             return new Promise(resolve => {
                 setTimeout(()=>
                    resolve(
                        [
                        {% if liste %}
                            {% for quotation in liste %}
                                {
                                    index: '{{ quotation["index"] }}',
                                    intern_reference: '{{ quotation["intern_reference"] }}',
                                    client: '{{ quotation['client'] }}',
                                    created_at: '{{ quotation["created_at"] }}',
                                    status:gridjs.html(`<span class="badge rounded-pill" style="background-color: {{ quotation['status'][0]}}">
                                                        {{ quotation['status'][1]}}</span>`),
                                    total: '{{ quotation["total"] }} DA',
                                    actions: gridjs.html (`
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-sm"
                                                        href="{{ url_for('admin_bp.get_quotation', q_id=quotation['id']) }}"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Détails">
                                                        <i class="fa-solid fa-eye"></i></a>
                                                    <a role="button" class="btn btn-sm"
                                                        href="{{ url_for('admin_bp.delete_quotation', q_id=quotation['id']) }}"
                                                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer">
                                                        <i class="fa-solid fa-trash"></i></a>
                                                    {#<a role="button" class="btn btn-sm"#}
                                                    {#    href="{{ url_for('sales_bp.delete_quotation', q_id=quotation['id']) }}">#}
                                                    {#    <i class="fa-solid fa-arrows-rotate"></i></a>#}
                                                    <div class="btn-group dropstart" >
                                                        <button class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                                                            <i class="fa-solid fa-arrows-rotate"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="{{ url_for('admin_bp.quotation_order', q_id=quotation['id']) }}">Bon commande</a></li>
                                                            <li><a class="dropdown-item" href="{{ url_for('admin_bp.quotation_invoice', q_id=quotation['id']) }}">Facture de vente action</a></li>
                                                            <li><a class="dropdown-item" href="{{ url_for('admin_bp.approve_quotation', q_id=quotation['id']) }}">Approuver</a></li>
                                                        </ul>
                                                    </div>
                                                </div>`)},
                            {% endfor %}
                        {% endif %}
                    ]
                    ),2000
                 );
                });
            },
            search: {
                selector: (cell, rowIndex, cellIndex) => [0, 1, 2, 3, 4].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
        }).render(document.getElementById('table'));
    </script>

{% endblock %}