{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
        <link href="{{ url_for('static', filename='dist/theme/mermaid.css') }}" rel="stylesheet" />
        <style>
        .hstack {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-self: stretch;
        }

        </style>
{% endblock %}
{% block main_tag %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category , message in messages %}
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                          <div class="d-flex">
                            <div class="toast-body">
                            {{ message }}
                           </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Les langues</h4>
                    </div>
                    <div class="card-body">
                        <div class="btn-group hstack gap-3">
                            <div class="border ms-auto">
                                <a class="btn btn-md btn-primary" href="{{ url_for('admin_bp.add_language') }}">Nouveau</a>
                            </div>

                        </div>
                        <div id="table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script>
     $(document).ready(function (){
            $('.toast').toast('show');
        });
        new gridjs.Grid({
         language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                  { id: 'id', name: 'Indexe' },
                  { id: 'label', name: 'Titre' },
                  { id: 'actions', name: 'Actions' }
            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve(
                                [
                                    {% if liste %}
                                        {% for langue in liste %}
                                            {
                                                  id: '{{ langue["id"] }}',
                                                  label :'{{ langue["label"] }}',
                                                actions: gridjs.html (
                                                `<div class="dropdown dropstart">
                                                      <a class="btn btn-secondary btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                      </a>

                                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <li><a class="dropdown-item" href="{{ url_for('admin_bp.edit_language',language_id = langue['id']) }}">Mise à jour</a></li>
                                                      </ul>
                                                </div>`)
                                                    },
                                        {% endfor %}
                                    {% endif %}
                            ]
                        ),2000
                    );
                });
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}