{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap-5.min.css')}}" />
{% endblock %}

{% block main_tag %}
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="toast-container position-absolute top-0 end-0 p-3">
                        {% for category, message in messages %}

                            <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body text-black fw-light fs-6">
                                        {{ message }}
                                    </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="row mt-5 w-75">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {{form.hidden_tag()}}
                        <div class="row g-1 mb-4">
                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.label.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.label(class="form-control is-invalid") }}
                                            {% for error in form.label.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.label(class="form-control") }}
                                    {% endif %}
                                    {{ form.label.label }}
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.serie.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.serie(class="form-control is-invalid") }}
                                            {% for error in form.serie.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.serie(class="form-control") }}
                                    {% endif %}
                                    {{ form.serie.label }}
                                </div>
                            </div>
                        </div>
                        <div class="row g-1 mb-4">
                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.format.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.format(class="form-control is-invalid") }}
                                            {% for error in form.format.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.format(class="form-control") }}
                                    {% endif %}
                                    {{ form.format.label }}
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.aspect.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.aspect(class="form-control is-invalid") }}
                                            {% for error in form.aspect.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.aspect(class="form-control") }}
                                    {% endif %}
                                    {{ form.aspect.label }}
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.utilisation.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.utilisation(class="form-control is-invalid") }}
                                            {% for error in form.utilisation.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.utilisation(class="form-control") }}
                                    {% endif %}
                                    {{ form.utilisation.label }}
                                </div>
                            </div>
                        </div>

                        <div class="row g-1 mb-4">
                            <div class="col-sm">
                                <div class="form-floating">
                                    {% if form.expired_at.errors %}
                                        <div class="input-group has-validation">
                                            {{ form.expired_at(class="form-control is-invalid") }}
                                            {% for error in form.expired_at.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.expired_at(class="form-control") }}
                                    {% endif %}
                                    {{ form.expired_at.label }}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm">
                                {{ form.submit(class="btn btn-primary", style="border-radius: 20px;") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function() {
             $('.toast').toast('show');
             $('#format').select2({
                 theme: "bootstrap-5",
                 width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                 placeholder: $( this ).data( 'placeholder' ),
                 dropdownParent: $( '#format' ).parent(),
             });
             $('#aspect').select2({
                 theme: "bootstrap-5",
                 width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                 placeholder: $( this ).data( 'placeholder' ),
                 dropdownParent: $( '#aspect' ).parent(),
             });
             $('#utilisation').select2({
                 theme: "bootstrap-5",
                 width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                 placeholder: $( this ).data( 'placeholder' ),
                 dropdownParent: $( '#utilisation' ).parent(),
             })
        });
    </script>
{% endblock %}
{% block actual_title %}
    <h5 class="h5">Ajouter un article</h5>
{% endblock %}