{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/theme/mermaid.css') }}">
{% endblock %}
{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script>
        $(document).ready(function (){
             $('button').click(function(){
                var tax_id = $(this).data('id');
                // AJAX request
                $.ajax({
                   url: '{{ url_for('admin_bp.get_tax') }}',
                   type: 'post',
                   data: {tax_id: tax_id},
                   success: function(response){
                       // Add response in Modal body
                       $('.modal-body').html(response.message);
                       // Display Modal
                       $('#taxContent').modal('show');
                   }
                });
           });
        });
        new gridjs.Grid({
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                { id: 'id', name: 'Num' },
                { id: 'warehouse', name: 'Dépôt' },
                { id: 'quantity', name: 'Qte en stock' },
                { id: 'last_purchase', name: 'Dernière achat en ' },
                { id: 'last_purchase_price', name: 'PU' },
                { id: 'stock_sec', name: 'Stock de sécurité' },

            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve([
                {% if liste %}
                    {% for stock in liste %}
                        {
                              id: '{{ stock["id"] }}',
                              warehouse :'{{ stock["warehouse"] }}',
                              quantity :'{{ stock["quantity"] }}',
                              last_purchase :'{{ stock["last_purchase"] }}',
                              last_purchase_price :'{{ stock["last_purchase_price"] }}',
                              stock_sec : gridjs.html(`<span class="badge rounded-pill" style="text-color:white; background-color:{{ stock['status'] }}>{{ stock["last_purchase_price"] }}</span>`)
                        },
                    {% endfor %}
                {% endif %}
            ]),2000
                    )
                })
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}

{% block main_tag %}
    <div class="container">
        <div class="row">
            <div id="table"></div>
            <div class="modal fade show" id="taxContent" tabindex="-1" aria-labelledby="taxContentDisplay"
                    style="display: block;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block actual_title %}
    <h4 class="h4">Les stocks</h4>
{% endblock %}