{% extends "layouts/admin_layout.html" %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/theme/mermaid.css') }}">
{% endblock %}


{% block main_tag %}
        <div class="container">
            <div class="row mt-5">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="toast-container position-absolute top-0 end-0 p-3">
                            {% for category, message in messages %}
                                <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex">
                                        <div class="toast-body text-black fw-light fs-6">
                                            {{ message }}
                                        </div>
                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                  </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="col" style="position: relative; text-align: right">
                    <a role="button" class="btn btn-outline-success" href="{{ url_for('admin_bp.create_user') }}">
                        <i class="fa fa-circle-plus"></i>
                           Nouveau
                    </a>


                <div id="table"></div>
                </div>
            </div>
            <div class="row bg-danger">
                <div class="col-lg">
                   <div class="modal fade" id="userContent" tabindex="-1" aria-labelledby="exampleUserContent" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleUserContent">Inforamtions détaillée</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">

                                  </div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block actual_title %}
    Les employés
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script>
        function foo(component){
            console.log(component.dataset['id']);
            var user_id = component.dataset['id'];
            // AJAX request
            $.ajax({
               url: '{{ url_for('admin_bp.get_user') }}',
               type: 'POST',
               data: JSON.stringify({user_id: user_id}),
                dataType:"json",
                contentType: "application/json; charset=utf-8",
               success: function(response){
                   // Add response in Modal body
                   {#console.log(response.message)#}
                   $('.modal-body').html(response.message);
                   // Display Modal
                   $('#userContent').modal('show');
               }
            });
        }
        $(document).ready(function (){
            $('.toast').toast('show');
        })
        new gridjs.Grid({
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                { id: 'id', name: 'Num' },
                { id: 'full_name', name: 'Nom complet' },
                { id: 'username', name: 'Pseudonyme' },
                { id: '_session', name: 'Compte utilisateur' },
                { id: 'role', name: 'Poste occupé' },
                { id: 'status', name: 'Etat' },
                { id: 'location', name: 'Lieu de travail' },
                { id:'actions', name:'Actions'}
            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve([
                {% if liste %}
                    {% for user in liste %}
                        {
                              id: '{{ user["id"] }}',
                              full_name :'{{ user["full_name"] }}',
                              username :'{{ user['username'] }}',
                              _session : gridjs.html(`<span class="badge rounded-pill text-white"
                                                            style="background-color:{{ user['_session'][0]}};" }}>
                                                                {{ user['_session'][1] }}
                                                      </span>`),
                              role :'{{ user['role'] }}',
                              status :gridjs.html(`<span class="badge rounded-pill text-white"
                                                        style="background-color:{{ user['status'][0]}};" }}>
                                                        {{ user['status'][1] }}</span>
                              `),
                              location :'{{ user['location'] }}',
                              actions: gridjs.html(`<div class="dropdown dropstart">
                                  <div class="btn-group">
                                        <button id="user-info" class="btn btn-sm btn-outline-info"
                                            data-id="{{ user['id'] }}" onclick="foo(this);">
                                            <i class="fa fa-eye"></i></button>
                                        <a role="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin_bp.edit_user',user_id=user['id']) }}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier">
                                            <i class="fa fa-user-pen"></i></a>

                                        <a role="button" class="btn btn-sm btn-outline-danger"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                {% if user['_session'][1]=="Activé" %}
                                                    title="Bloquer l'accès"
                                                    href="{{ url_for('admin_bp.disable_user',user_id=user['id']) }}">
                                                    <i class="fa fa-user-lock"></i>
                                                {% else %}
                                                    title="Débloquer l'accès"
                                                    href="{{ url_for('admin_bp.enable_user',user_id=user['id']) }}">
                                                    <i class="fa fa-user-unlock"></i>
                                             {% endif %}

                                            </a>
                                  </div>
                            </div>`
                              )
                        },
                    {% endfor %}
                {% endif %}
            ]),1000
                    )
                })
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2, 3, 4, 5].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}