{% extends "layouts/admin_layout.html" %}
{% block actual_title %}
    Les Dépôts
{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/theme/mermaid.css') }}">
{% endblock %}

{% block main_tag %}
    <div class="row mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="toast-container position-absolute top-0 end-0 p-3">
                    {% for category, message in messages %}
                        <div class="toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body text-black fw-light fs-6">
                                    {{ message }}
                                </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="col" style="position: relative; text-align: right">
            <a role="button" class="btn btn-outline-success rounded rounded-pill" data-bs-toggle="modal" data-bs-target="#NouveauDepot">
                <i class="fa fa-circle-plus"></i>
                   Ajouter
            </a>
        </div>
{#    {{ liste }}#}
        <div id="table"></div>
        <div class="modal bg-m" id="NouveauDepot" data-bs-backdrop="static" data-bs-keyboard="false"
                                        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nouveau Dépôt</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <div class="row mb-4">
                                <div class="form-group">
                                    <div class="form-floating">
                                        {% if form.name.errors %}
                                            <div class="input-group has-validation">
                                                {{ form.name(class="form-control is-invalid") }}
                                                {% for error in form.name.errors %}
                                                    <div class="invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.name(class="form-control") }}
                                        {% endif %}
                                        {{ form.name.label }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-group">
                                    <div class="form-floating">
                                        {% if form.address.errors %}
                                            <div class="input-group has-validation">
                                                {{ form.address(class="form-control is-invalid") }}
                                                {% for error in form.address.errors %}
                                                    <div class="invalid-feedback">
                                                        {{error}}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.address(class="form-control") }}
                                        {% endif %}
                                        {{ form.address.label }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="form-group">
                                    <div class="form-floating">
                                        {% if form.contact.errors %}
                                            <div class="input-group has-validation">
                                                {{ form.contact(class="form-control is-invalid") }}
                                                {% for error in form.contact.errors %}
                                                    <div class="invalid-feedback">
                                                        {{error}}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.contact(class="form-control") }}
                                        {% endif %}
                                        {{ form.contact.label }}
                                    </div>
                                </div>
                            </div>
                            <div class="row g-1">
                                <div class="form-group" style="text-align: right;">
                                    {{ form.submit(class="btn btn-outline-primary btn-md rounded rounded-pill") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='dist/gridjs.umd.js') }}"></script>
    <script>
        $(document).ready(function (){
            $('.toast').toast('show');
            {% if form.errors %}
                $('.modal').modal('show');
            {% endif %}
        });
        new gridjs.Grid({
            autoWidth:true,
            fixedHeader:true,
            style:{
                table: {
                    'width': "100%"}},
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Aucun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                { id: 'index', name: '' },
                { id: 'id', name: 'Code' },
                { id: 'name', name: 'Nom' },
                { id: 'address', name: 'Adresse' },
                { id: 'contact', name: 'Telephone' },
                { id: 'magasiner', name: 'Magasiner' },
                { id:'actions', name:'Actions'}
            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve([
                {% if liste %}
                    {% for warehouse in liste %}
                        {
                              index: '{{ warehouse["index"] }}',
                              id: '{{ warehouse["id"] }}',
                              name :'{{ warehouse["name"] }}',
                              address :'{{ warehouse["address"] }}',
                              contact :'{{ warehouse['contact'] }}',
                              magasiner :{% if warehouse['magasiner'] %}'{{ warehouse['magasiner'] }}'
                                        {% else %}gridjs.html(`<span class="badge rounded-pill"
                                                                    style="background-color: #9C1A1C;">
                                                                        N'est pas affecté</span>`){% endif %},
                              actions: gridjs.html(`<div class="dropdown dropstart">
                                  <div class="btn-group">
                                        <a role="button" class="btn btn-sm btn-outline-primary" href="{{ url_for('admin_bp.edit_warehouse',warehouse_id=warehouse['id']) }}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier">
                                            <i class="fa-solid fa-pen"></i></a>
                                        <a role="button" class="btn btn-sm btn-outline-danger" href="{{ url_for('admin_bp.delete_warehouse',warehouse_id=warehouse['id']) }}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer">
                                            <i class="fa-solid fa-trash"></i></a>
                                  </div>
                            </div>`
                              )
                        },
                    {% endfor %}
                {% endif %}
            ]),2000
                    )
                })
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2, 3].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}