{% extends "layouts/admin_layout.html" %}
{% block actual_title %}
    <h4>Les Dépôts</h4>
{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mermaid.min.css') }}">
{% endblock %}

{% block main_tag %}
    <div class="container">
        <div class="row">
            <div id="table"></div>
            <div class="modal fade show" id="warehouseContent" tabindex="-1" aria-labelledby="taxContentDisplay"
                    style="display: block;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/gridjs.min.js') }}"></script>
    <script>
         $('button').click(function(){
           var warehouse_id = $(this).data('id');
           // AJAX request
           $.ajax({
               url: '{{ url_for('admin_bp.get_warehouse') }}',
               type: 'post',
               data: {warehouse_id: warehouse_id},
               success: function(response){
                   // Add response in Modal body
                   $('.modal-body').html(response.message);
                   // Display Modal
                   $('#warehouseContent').modal('show');
               }
           });
       });
        new gridjs.Grid({
            language:{
                search: {
                  placeholder: 'Recherche...',
                },
                sort: {
                  sortAsc: 'Ordre croissant',
                  sortDesc: 'Ordre décroissant',
                },
                pagination: {
                  previous: 'Précédent',
                  next: 'Suivant',
                  navigate: (page, pages) => `Page ${page} of ${pages}`,
                  page: (page) => `Page ${page}`,
                  showing: 'Affichage..',
                  of: 'de',
                  to: 'à',
                  results: 'résultats',
                },
                loading: 'Chargement...',
                noRecordsFound: 'Ancun enregistrements',
                error: 'Erreur pendant le chargement des données'},
            columns: [
                { id: 'id', name: 'Num' },
                { id: 'name', name: 'Nom' },
                { id: 'address', name: 'Adresse' },
                { id: 'contact', name: 'Telephone' },
                { id:'actions', name:'Actions'}
            ],
            data: ()=>{
                return new Promise(resolve => {
                    setTimeout(()=>
                        resolve([
                {% if liste %}
                    {% for warehouse in liste %}
                        {
                              id: '{{ warehouse["id"] }}',
                              name :'{{ warehouse["name"] }}',
                              address :'{{ warehouse["address"] }}',
                              contact :'{{ warehouse['contact'] }}',
                              actions: gridjs.html(`<div class="dropdown dropstart">
                                  <a class="btn btn-secondary btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                  </a>
                                  <div class="btn-group">
                                        <a role="button" class="btn-outline-secondary" href="{{ url_for('admin_bp.edit_warehouse',warehouse_id=warehouse['id']) }}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier">
                                            <i class="fa-light fa-pen"></i></a>
                                        <a role="button" class="btn-outline-secondary" href="{{ url_for('admin_bp.delete_warehouse',warehouse_id=warehouse['id']) }}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer">
                                            <i class="fa-light fa-trash"></i></a>
                                  </div>
                            </div>`
                              )
                        },
                    {% endfor %}
                {% endif %}
            ]),2000
                    )
                })
            },
            search: {
              selector: (cell, rowIndex, cellIndex) => [0, 1, 2, 3].includes(cellIndex) ? cell : null,
            },
            sort: true,
            pagination: true
          }).render(document.getElementById('table'));
    </script>
{% endblock %}