{% extends "layouts/purchases_layout.html" %}
{% block main_tag %}
    <div class="row mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="toast-container position-absolute top-0 end-0 p-3">
                    {% for category, message in messages %}
                        <div class="flash-toasts toast align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body text-black fw-light fs-6">
                                    {{ message }}
                                </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="card">
            <div class="card-body">
                <form id="form" method="POST">
                    {{form.hidden_tag()}}
                    <div class="row g-1 justify-content-end p-3">
                        <div class="col-md-1">
                            {{ form.submit(class="btn btn-sm btn-primary rounded-pill")}}
                        </div>
                    {% if new_command and new_command==true %}
                        <div class="col-md-2">
                            <a role="button" class="btn btn-sm btn-outline-success rounded-pill" href="{{ url_for('purchases_bp.new_purchase_receipt') }}">
                                <i class="fa fa-plus"></i>
                                   Nouvelle commande
                            </a>
                        </div>
                    {% endif %}
                        {% if to_print and to_print==True %}
                            <div class="col-md-1">
                                <a role="button" href="#" class="btn btn-sm btn-secondary rounded-pill">Imprimer
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    <div class="row g-1 mb-4 justify-content-between">
                        <div class="col-md-4">
                            <div class="input-group has-validation p-3">
                                <div class="input-group-text"> {{ form.recipient.label }}</div>
                                {% if form.recipient.errors %}
                                    {{ form.recipient(class="form-select is-invalid") }}
                                    {% for error in form.recipient.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    {{ form.recipient(class="form-select") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group has-validation p-3">
                                <div class="input-group-text"> {{ form.order_date.label }}</div>
                                {% if form.order_date.errors %}
                                    {{ form.order_date(class="form-select is-invalid") }}
                                    {% for error in form.order_date.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.order_date(class="form-select") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row g-1 mb-4 justify-content-lg-between">
                        <div class="col-md-4">
                            <div class="input-group has-validation p-3">
                                <div class="input-group-text"> {{ form.reference_supplier_invoice.label }}</div>
                                {% if form.reference_supplier_invoice.errors %}
                                    {{ form.reference_supplier_invoice(class="form-control is-invalid") }}
                                    {% for error in form.reference_supplier_invoice.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.reference_supplier_invoice(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
{#                        <div class="col-md-6">#}
{#                            <div class="input-group has-validation p-3">#}
{#                                <div class="input-group-text"> {{ form.expense_category.label }}</div>#}
{#                                {% if form.expense_category.errors %}#}
{#                                    {{ form.expense_category(class="form-control is-invalid") }}#}
{#                                    {% for error in form.expense_category.errors %}#}
{#                                        <div class="invalid-feedback">#}
{#                                            {{ error }}#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                {% else %}#}
{#                                    {{ form.expense_category(class="form-control") }}#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    {#      Table Heading      #}
                    <div class="row g-5 mb-lg-3 text-center">
                        <div class="col-md-5">
                            {{ nested.item.label }}
                        </div>
                        <div class="col-md-2">
                            {{ nested.quantity.label }}
                        </div>
                        <div class="col-md-2">
                            {{ nested.unit_price.label }}
                        </div>
                        <div class="col-md-2">
                            {{ nested.amount.label }}
                        </div>
                        <div class="col-md-1">
                            Actions
                        </div>
                    </div>
                    {#      Table Rows      #}
                    {% for entry in form.entities %}
                        <div class="row g-1 mb-sm-4">
                            <div class="col-sm-5">
                                {% if entry.item.errors %}
                                    <div class="input-group has-validation">
                                        {{ entry.item(class="select-item form-select-sm is-invalid") }}
                                        {% for error in entry.item.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ entry.item(class="select-item form-select-sm") }}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm has-validation">
                                    {% if entry.quantity.errors %}
                                        {{ entry.quantity(class="form-control form-control-sm is-invalid") }}
                                        {% for error in entry.quantity.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        {{ entry.quantity(class="form-control form-control-sm") }}
                                    {% endif %}
                                    <div class="input-group-text">{{ entry.unit.data }}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group has-validation">
                                    {% if entry.unit_price.errors %}

                                        {{ entry.unit_price(class="form-control form-control-sm is-invalid") }}
                                        {% for error in entry.unit_price.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        {{ entry.unit_price(class="form-control form-control-sm") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm has-validation">
                                    {% if entry.amount.errors %}
                                        {{ entry.amount(value=entry.amount.data, class="form-control form-control-sm is-invalid") }}
                                        {% for error in entry.amount.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ entry.amount(value=entry.amount.data, class="form-control form-control-sm") }}
                                    {% endif %}
                                    <div class="input-group-text">DZD</div>
                                </div>
                            </div>
                            <div class="col-sm-1 text-center">
                                {{ entry.delete_entry(class='btn btn-sm btn-outline-danger') }}
                            </div>
                        </div>
                    {% endfor %}
                        <div class="row justify-content-end mb-4">
                            <div class="sum-input col-md-5 p-5">
                                <h2 class="h2"><span class="fw-bold">Total: </span>{{ "{:,.2f}".format(somme) }} DZD</h2>
                            </div>
                        </div>
                </form>

                <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle">
                    <div id="liveToast" class="toast text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="error-toast-body toast-body"></div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label=" "></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap-5.min.css')}}">
{% endblock %}

{% block actual_title %}
    Bon de réception
{% endblock %}

{% block additional_scripts %}

    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.select-item').select2({
                 theme: "bootstrap-5",
                 width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                 selectionCssClass: 'select2--small',
                 dropdownCssClass: 'select2--small',
            });

            $('#recipient').select2({
                theme: "bootstrap-5",
                width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                minimumInputLength: 1,
                ajax:{
                    url: "{{ url_for('purchases_bp.get_recipients') }}",
                    dataType: 'json',
                    delay: 250,
                    processResults: function(data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                }
            });

            $('#expense_category').select2({
                theme:'bootstrap-5',
                width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                selectionCssClass: 'select2--small',
                dropdownCssClass: 'select2--small',
                placeholder: 'Code Commande...',
            });
        });
    </script>
{% endblock %}
